input::placeholder {
	color: rgb(103, 107, 115);
}

input {
	outline: none;
}

.search {
	width: 340px;
	height: 41px;
	display: flex;
	align-items: center;
	background-color: rgb(14, 20, 33);
	border-radius: 50px;
	position: relative;
	padding: 0 15px;
}

.form_search {
	display: flex;
	gap: 15px;
}

.button_search {
	width: 140px;
	height: 31px;
	background-color: rgb(116, 43, 236);
	border-radius: 50px;
	color: white;
	font-size: 16px;
	position: absolute;
	right: 15px;
}
